@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.my-nav {
    border-bottom: 1px solid #eeeeee;
}

header {
    padding: 10px;
}
h6 {
    font-weight: 900;
}

.logo {
    border-right: 1px solid #eeeeee;
}
.search-bar {
    background-color: #f8f8f8;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    width: 70vw;
    padding: 10px;
}

.search-bar > input {
    background-color: transparent;
    border: none; 
    width: 90%;
}